<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c19091">  <td>18/06/11 05:52:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CleanUpData.createMultipleOptionQuestionTest()[pri:0, instance:assignment.testcases.compdb.CleanUpData@3d74bf60]">createMultipleOptionQuestionTest</td> 
  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="c19091">  <td>18/06/11 05:52:14</td>   <td>-5494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CleanUpData.setup()[pri:0, instance:assignment.testcases.compdb.CleanUpData@3d74bf60]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="c19091">  <td>18/06/11 05:52:20</td>   <td>132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CleanUpData.teardown()[pri:0, instance:assignment.testcases.compdb.CleanUpData@3d74bf60]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@173099767</td>   <td></td> </tr>
</table>
