<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98c7fe">  <td>18/06/11 15:39:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerMissingNameTest.createComputerMissingNameTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerMissingNameTest@74e28667]">createComputerMissingNameTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="b6b0ae">  <td>18/06/11 15:38:56</td>   <td>-5508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerTest.createComputerTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerTest@7161d8d1]">createComputerTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="719fb6">  <td>18/06/11 15:40:16</td>   <td>74804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteComputerTest.createComputerTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.DeleteComputerTest@53045c6c]">createComputerTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="77929c">  <td>18/06/11 15:41:02</td>   <td>120777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CleanUpData.createMultipleOptionQuestionTest()[pri:0, instance:assignment.testcases.compdb.crud.CleanUpData@53fb3dab]">createMultipleOptionQuestionTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="6a81b5">  <td>18/06/11 15:39:58</td>   <td>56707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditComputerTest.editComputerTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.EditComputerTest@19e4653c]">editComputerTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="72646b">  <td>18/06/11 15:40:24</td>   <td>82435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RightPaginationTest.gotoNextResultsPageTest()[pri:0, instance:assignment.testcases.compdb.pagination.RightPaginationTest@5149d738]">gotoNextResultsPageTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="889b75">  <td>18/06/11 15:40:27</td>   <td>86218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeftPaginationTest.leftPaginationTest()[pri:0, instance:assignment.testcases.compdb.pagination.LeftPaginationTest@6bbe85a8]">leftPaginationTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="81a4b1">  <td>18/06/11 15:40:09</td>   <td>67604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReadComputerTest.readComputerTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.ReadComputerTest@795509d9]">readComputerTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="b6b0ae">  <td>18/06/11 15:38:51</td>   <td>-9857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerTest@7161d8d1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="98c7fe">  <td>18/06/11 15:38:58</td>   <td>-2791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerMissingNameTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerMissingNameTest@74e28667]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:03</td>   <td>2363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerWrongIntroducedDateFormatTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:09</td>   <td>7476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerWrongIntroducedDateFormatTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:14</td>   <td>12691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerWrongIntroducedDateFormatTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:19</td>   <td>18058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerWrongIntroducedDateFormatTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:24</td>   <td>23199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerWrongIntroducedDateFormatTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:29</td>   <td>28317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerWrongDiscontinuedDateFormatTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:35</td>   <td>33503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerWrongDiscontinuedDateFormatTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:40</td>   <td>38639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerWrongDiscontinuedDateFormatTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:45</td>   <td>43675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerWrongDiscontinuedDateFormatTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:50</td>   <td>48737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateComputerWrongDiscontinuedDateFormatTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="6a81b5">  <td>18/06/11 15:39:55</td>   <td>53924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EditComputerTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.EditComputerTest@19e4653c]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="81a4b1">  <td>18/06/11 15:40:06</td>   <td>64474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ReadComputerTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.ReadComputerTest@795509d9]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="719fb6">  <td>18/06/11 15:40:13</td>   <td>71706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DeleteComputerTest.setup()[pri:0, instance:assignment.testcases.compdb.crud.DeleteComputerTest@53045c6c]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="72646b">  <td>18/06/11 15:40:20</td>   <td>79351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RightPaginationTest.setup()[pri:0, instance:assignment.testcases.compdb.pagination.RightPaginationTest@5149d738]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="889b75">  <td>18/06/11 15:40:24</td>   <td>83283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LeftPaginationTest.setup()[pri:0, instance:assignment.testcases.compdb.pagination.LeftPaginationTest@6bbe85a8]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="647d99">  <td>18/06/11 15:40:28</td>   <td>87404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SortByComputerNameTest.setup()[pri:0, instance:assignment.testcases.compdb.sorting.SortByComputerNameTest@3a7442c7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="96aa6c">  <td>18/06/11 15:40:36</td>   <td>95054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SortByIntroducedDateTest.setup()[pri:0, instance:assignment.testcases.compdb.sorting.SortByIntroducedDateTest@4be29ed9]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="84a89d">  <td>18/06/11 15:40:44</td>   <td>102687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SortByDiscontinuedDateTest.setup()[pri:0, instance:assignment.testcases.compdb.sorting.SortByDiscontinuedDateTest@548d708a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="7f60bf">  <td>18/06/11 15:40:51</td>   <td>110149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SortByCompanyNameTest.setup()[pri:0, instance:assignment.testcases.compdb.sorting.SortByCompanyNameTest@4b013c76]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="77929c">  <td>18/06/11 15:40:59</td>   <td>117964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CleanUpData.setup()[pri:0, instance:assignment.testcases.compdb.crud.CleanUpData@53fb3dab]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="7f60bf">  <td>18/06/11 15:40:54</td>   <td>113006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortByCompanyNameTest.sortByCompanyNameTest()[pri:0, instance:assignment.testcases.compdb.sorting.SortByCompanyNameTest@4b013c76]">sortByCompanyNameTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="647d99">  <td>18/06/11 15:40:31</td>   <td>90181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortByComputerNameTest.sortByComputerNameTest()[pri:0, instance:assignment.testcases.compdb.sorting.SortByComputerNameTest@3a7442c7]">sortByComputerNameTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="84a89d">  <td>18/06/11 15:40:47</td>   <td>105432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortByDiscontinuedDateTest.sortByDiscontinuedDateTest()[pri:0, instance:assignment.testcases.compdb.sorting.SortByDiscontinuedDateTest@548d708a]">sortByDiscontinuedDateTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="96aa6c">  <td>18/06/11 15:40:39</td>   <td>97912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SortByIntroducedDateTest.sortByIntroducedDateTest()[pri:0, instance:assignment.testcases.compdb.sorting.SortByIntroducedDateTest@4be29ed9]">sortByIntroducedDateTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="b6b0ae">  <td>18/06/11 15:38:58</td>   <td>-3241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerTest@7161d8d1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="98c7fe">  <td>18/06/11 15:39:03</td>   <td>2038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerMissingNameTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerMissingNameTest@74e28667]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:08</td>   <td>7157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerWrongIntroducedDateFormatTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:13</td>   <td>12353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerWrongIntroducedDateFormatTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:19</td>   <td>17748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerWrongIntroducedDateFormatTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:24</td>   <td>22894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerWrongIntroducedDateFormatTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:29</td>   <td>28003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerWrongIntroducedDateFormatTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:34</td>   <td>33195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerWrongDiscontinuedDateFormatTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:39</td>   <td>38329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerWrongDiscontinuedDateFormatTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:44</td>   <td>43357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerWrongDiscontinuedDateFormatTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:50</td>   <td>48434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerWrongDiscontinuedDateFormatTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:55</td>   <td>53599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateComputerWrongDiscontinuedDateFormatTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="6a81b5">  <td>18/06/11 15:40:05</td>   <td>64160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EditComputerTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.EditComputerTest@19e4653c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="81a4b1">  <td>18/06/11 15:40:12</td>   <td>71381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ReadComputerTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.ReadComputerTest@795509d9]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="719fb6">  <td>18/06/11 15:40:20</td>   <td>78989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DeleteComputerTest.teardown()[pri:0, instance:assignment.testcases.compdb.crud.DeleteComputerTest@53045c6c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="72646b">  <td>18/06/11 15:40:24</td>   <td>82985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RightPaginationTest.teardown()[pri:0, instance:assignment.testcases.compdb.pagination.RightPaginationTest@5149d738]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="889b75">  <td>18/06/11 15:40:28</td>   <td>87108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LeftPaginationTest.teardown()[pri:0, instance:assignment.testcases.compdb.pagination.LeftPaginationTest@6bbe85a8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="647d99">  <td>18/06/11 15:40:36</td>   <td>94770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SortByComputerNameTest.teardown()[pri:0, instance:assignment.testcases.compdb.sorting.SortByComputerNameTest@3a7442c7]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="96aa6c">  <td>18/06/11 15:40:43</td>   <td>102361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SortByIntroducedDateTest.teardown()[pri:0, instance:assignment.testcases.compdb.sorting.SortByIntroducedDateTest@4be29ed9]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="84a89d">  <td>18/06/11 15:40:51</td>   <td>109830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SortByDiscontinuedDateTest.teardown()[pri:0, instance:assignment.testcases.compdb.sorting.SortByDiscontinuedDateTest@548d708a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="7f60bf">  <td>18/06/11 15:40:59</td>   <td>117648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SortByCompanyNameTest.teardown()[pri:0, instance:assignment.testcases.compdb.sorting.SortByCompanyNameTest@4b013c76]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="77929c">  <td>18/06/11 15:42:04</td>   <td>182645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CleanUpData.teardown()[pri:0, instance:assignment.testcases.compdb.crud.CleanUpData@53fb3dab]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:32</td>   <td>31208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerWrongDiscontinuedDateFormatTest.wrongDiscontinuedDateFormatTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">wrongDiscontinuedDateFormatTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:38</td>   <td>36424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerWrongDiscontinuedDateFormatTest.wrongDiscontinuedDateFormatTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">wrongDiscontinuedDateFormatTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:43</td>   <td>41457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerWrongDiscontinuedDateFormatTest.wrongDiscontinuedDateFormatTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">wrongDiscontinuedDateFormatTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:48</td>   <td>46525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerWrongDiscontinuedDateFormatTest.wrongDiscontinuedDateFormatTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">wrongDiscontinuedDateFormatTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="c668e3">  <td>18/06/11 15:39:53</td>   <td>51553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerWrongDiscontinuedDateFormatTest.wrongDiscontinuedDateFormatTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongDiscontinuedDateFormatTest@663c9e7a]">wrongDiscontinuedDateFormatTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:06</td>   <td>5188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerWrongIntroducedDateFormatTest.wrongIntroducedDateFormatTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">wrongIntroducedDateFormatTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:11</td>   <td>10362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerWrongIntroducedDateFormatTest.wrongIntroducedDateFormatTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">wrongIntroducedDateFormatTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:17</td>   <td>15773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerWrongIntroducedDateFormatTest.wrongIntroducedDateFormatTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">wrongIntroducedDateFormatTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:22</td>   <td>20993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerWrongIntroducedDateFormatTest.wrongIntroducedDateFormatTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">wrongIntroducedDateFormatTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
<tr bgcolor="dbe764">  <td>18/06/11 15:39:27</td>   <td>26030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateComputerWrongIntroducedDateFormatTest.wrongIntroducedDateFormatTest(java.util.Hashtable)[pri:0, instance:assignment.testcases.compdb.crud.CreateComputerWrongIntroducedDateFormatTest@1cf6d1be]">wrongIntroducedDateFormatTest</td> 
  <td>main@609656250</td>   <td></td> </tr>
</table>
