<h2>Reporter output</h2><table><tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 1999-01-01</td></tr>
<tr><td>Entering discontinued date: 2000-02-02</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 1999-01-01</td></tr>
<tr><td>Entering discontinued date: 2000-02-02</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 1999/01/01</td></tr>
<tr><td>Entering discontinued date: 2000-02-02</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: Jan 01 1999</td></tr>
<tr><td>Entering discontinued date: 2000-02-02</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 01-01-1999</td></tr>
<tr><td>Entering discontinued date: 2000-02-02</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 19990101</td></tr>
<tr><td>Entering discontinued date: 2000-02-02</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: random text</td></tr>
<tr><td>Entering discontinued date: 2000-02-02</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 1999-01-01</td></tr>
<tr><td>Entering discontinued date: 2000/02/02</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 1999-01-01</td></tr>
<tr><td>Entering discontinued date: Feb 2 2000</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 1999-01-01</td></tr>
<tr><td>Entering discontinued date: 02-02-2000</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 1999-01-01</td></tr>
<tr><td>Entering discontinued date: 20000202</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 1999-01-01</td></tr>
<tr><td>Entering discontinued date: random text</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 1999-01-01</td></tr>
<tr><td>Entering discontinued date: 2000-02-02</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Filtering results by name: Alpha1</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1</td></tr>
<tr><td>Filtering results by name: Alpha1updated</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 1999-01-01</td></tr>
<tr><td>Entering discontinued date: 2000-02-02</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Filtering results by name: Alpha35</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha35</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Entering introduced date: 1999-01-01</td></tr>
<tr><td>Entering discontinued date: 2000-02-02</td></tr>
<tr><td>Selected company: IBM</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Filtering results by name: Alpha1</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Going to next results page</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Going to next results page</td></tr>
<tr><td>Going to previous results page</td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Filtering results by name: Alpha5</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Invert sorting by computer name</td></tr>
<tr><td>Click to see Screenshot</td></tr>
<tr><td><a target="_blank" href=Mon_Jun_11_15_40_36_CEST_2018.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target="_blank" href=Mon_Jun_11_15_40_36_CEST_2018.jpg><img src=Mon_Jun_11_15_40_36_CEST_2018.jpg height=200 width=200></img></a></td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Filtering results by name: Alpha2</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Invert sorting by introduction date</td></tr>
<tr><td>Click to see Screenshot</td></tr>
<tr><td><a target="_blank" href=Mon_Jun_11_15_40_43_CEST_2018.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target="_blank" href=Mon_Jun_11_15_40_43_CEST_2018.jpg><img src=Mon_Jun_11_15_40_43_CEST_2018.jpg height=200 width=200></img></a></td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Filtering results by name: Alpha3</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Click to see Screenshot</td></tr>
<tr><td><a target="_blank" href=Mon_Jun_11_15_40_51_CEST_2018.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target="_blank" href=Mon_Jun_11_15_40_51_CEST_2018.jpg><img src=Mon_Jun_11_15_40_51_CEST_2018.jpg height=200 width=200></img></a></td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Click on the Add new computer button</td></tr>
<tr><td>Click on the Create this computer button</td></tr>
<tr><td>Filtering results by name: Alpha4</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Invert sorting by introduction date</td></tr>
<tr><td>Click to see Screenshot</td></tr>
<tr><td><a target="_blank" href=Mon_Jun_11_15_40_59_CEST_2018.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target="_blank" href=Mon_Jun_11_15_40_59_CEST_2018.jpg><img src=Mon_Jun_11_15_40_59_CEST_2018.jpg height=200 width=200></img></a></td></tr>
<tr><td>Initialized LandingPageActions page</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha1updated</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha21</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha22</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha31</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha32</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha35</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha35</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha41</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha42</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha51</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Editing computer with name: Alpha52</td></tr>
<tr><td>Filtering results by name: Alpha</td></tr>
<tr><td>Click on the filter by name button</td></tr>
<tr><td>Click to see Screenshot</td></tr>
<tr><td><a target="_blank" href=Mon_Jun_11_15_42_04_CEST_2018.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target="_blank" href=Mon_Jun_11_15_42_04_CEST_2018.jpg><img src=Mon_Jun_11_15_42_04_CEST_2018.jpg height=200 width=200></img></a></td></tr>
</table>